<ion-header>
  <ion-navbar color="dark">
    <ion-title>Register</ion-title>
  </ion-navbar>
</ion-header>
 
<ion-content  padding>
  <div >
    <form [formGroup]="registerForm"  novalidate>
      <!--divs-->
      
        <div class="row responsive-md">
          <div class="col col-50 col-offset-25">
            <ion-item>
              <ion-label stacked>Email</ion-label>
              <ion-input #email [(ngModel)]="email1" formControlName="email" type="email" placeholder="Your email address" 
                [class.invalid]="!registerForm.controls.email.valid && registerForm.controls.email.dirty"></ion-input>
            </ion-item>
            <ion-item class="error-message" 
              *ngIf="!registerForm.controls.email.valid  && registerForm.controls.email.dirty">
              <p>Please enter a valid email.</p>
            </ion-item>  

            <ion-item>
              <ion-label stacked>Password</ion-label>
              <ion-input #password  [(ngModel)]="password1" formControlName="password" type="password" placeholder="Your password" 
                [class.invalid]="!registerForm.controls.password.valid && registerForm.controls.password.dirty"></ion-input>
            </ion-item>
            <ion-item class="error-message" 
              *ngIf="!registerForm.controls.password.valid  && registerForm.controls.password.dirty">
              <p>Your password needs more than 6 characters.</p>
            </ion-item>
            
           <button ion-button block [disabled]="!registerForm.controls.password.valid || !registerForm.controls.email.valid  " type="submit" (click)="register()" >
           Register
           </button>
           

          </div>
        </div>
        
        </form>
        
          </div>
        </ion-content>