page-intro-slides {

    .ios, .md {
 
        page-intro {
       
          ion-slide {
            background-color: #32db64;
          }
       
          ion-slide img {
            height: 70vh !important;
            width: auto !important;
          }
       
        }
       
      }








}
