
<ion-header>

    <ion-navbar color="dark">
        <ion-title><ion-icon name="ios-card"></ion-icon> Billing </ion-title>

        <ion-buttons end>
            <button ion-button icon-left (click)="addAddress()">
                <ion-icon name="ios-create"></ion-icon>
            </button>
        </ion-buttons>

    </ion-navbar>

</ion-header>


<ion-content >

   
        <ion-item-divider color="light">Payment Mode</ion-item-divider>
        <ion-item >
            <ion-label>Paypal</ion-label>
            <ion-radio checked="true" value="paypal"></ion-radio>
        </ion-item>

        <ion-item-divider color="light">Delvery details </ion-item-divider>
            <ion-item>
            <ion-label stacked> {{col_address}} </ion-label>
         
             <ion-label stacked>{{cartService.nextDate(5)}} </ion-label>  
             <ion-radio checked="true" value="cartService.nextDate(5)"></ion-radio>
        </ion-item>
        

  <!-- 
      <ion-list radio-group [(ngModel)]="payment_mode">
        <ion-item-divider color="light">Payment Mode</ion-item-divider>
        <ion-item>
            <ion-label>Paypal</ion-label>
            <ion-radio checked="true" value="paypal"></ion-radio>
        </ion-item>
    </ion-list>
    <ion-list radio-group  [(ngModel)]="delivery_details">
        <ion-item-divider color="light">Delivery Details
            <ion-buttons end>
                <button ion-button icon-left (click)="addAddress()">
                    <ion-icon name="ios-create"></ion-icon>
                </button>
            </ion-buttons>
        </ion-item-divider>
      
        <ion-item-sliding *ngFor="let address of addresses | async">
                <ion-item>
                    <ion-label>  
                        <h2> <b>{{address.nickname}}</b></h2>
                        <h3>{{address.address}}</h3>
                        <p>Pin : {{address.pincode}} </p>
                        <p>Phone  : {{address.phone}} </p>
                    </ion-label>
                    <ion-radio value="{{address.address + ' Pin: ' + address.pincode + ' Phone : ' + address.phone}}"></ion-radio>
                </ion-item>
                <ion-item-options side="right">
                    <button ion-button color="primary" (click)="editAddress(address)" > <ion-icon name="md-create"></ion-icon> Edit </button>
                    <button ion-button color="danger"  (click)="deleteAddress(address)"> <ion-icon name="ios-trash-outline"></ion-icon> Delete </button>
                </ion-item-options>
            </ion-item-sliding>

    </ion-list>
    -->
    <ion-content padding>
            <form name="paymentForm" >
                <ion-item>
                    <ion-label >Amount</ion-label>
                    <h2 item-right >£{{cartService.cartAmount}}</h2>
                </ion-item>
                <ion-item>
                    <ion-label floating>Currency</ion-label>
                    <ion-select [(ngModel)]="payment.currency" name="currency">
                        <ion-option value="{{currency}}" *ngFor="let currency of currencies">{{currency}}</ion-option>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-label floating>Description</ion-label>
                    <ion-input type="text" name="description" [(ngModel)]="payment.shortDescription"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label floating>Intent</ion-label>
                    <ion-input type="text" name="intent" [(ngModel)]="payment.intent"></ion-input>
                </ion-item>
            </form>
                <ion-item>
                        <ion-label>Accept Terms and Condition</ion-label>
                        <ion-checkbox [(ngModel)]="agreed"></ion-checkbox>
                      </ion-item>
                <p>
                    <button ion-button block color="secondary" [disabled]="!agreed" (click)="makePayment()">   <ion-icon name="logo-gbp"></ion-icon>MAKE PAYMENT</button>
                </p>
            
        </ion-content>
  <!-- 
          <ion-checkbox [(ngModel)]="agreed" (ionChange)="openTerms()"></ion-checkbox>
    <button ion-button icon-left block color="secondary" (click)="pay()">
            <ion-icon name="logo-usd"></ion-icon> Pay
    </button>
-->
</ion-content>
